:root{
    --warna-gelap : #006270;
    --warna-gelap-2 : #009394;
    --warna-cerah : #00E0C7;
    --warna-putih : #fff;
    --warna-shadow : #00617058;
    --font-family: 'Inter', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.countainer{
    max-width: 1440px !important;
    margin: 0 auto !important;
    padding: 0 2rem !important;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-areas: 
    "header"
    "contentt"
    "footer";
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    cursor: pointer;
}

.Header{
    grid-area: header;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto; 
    padding: 2rem 2rem;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: sticky;
    top: 0;
    z-index: 999;
}

.h1-text-header{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--warna-gelap);
    cursor: pointer;
    min-height: auto;
    width: max-content;
    padding: 0.8rem;                                                       /*batas antar komponen atas 12 rem (margin top) */
    border-radius: 1rem;
    opacity: 0.95;
} 

.nav{
    margin-left: auto;
    display: flex;
    gap: 1rem;
    width: max-content;
    padding: 0.5rem;    
    border-radius: 600px;                                                           /*batas antar komponen atas 12 rem (margin top) */
    border-radius: 1rem;
    opacity: 0.95;
}
.nav a{
    padding: 0.5rem;
    font-size: 1rem;
    text-decoration: none;
    color : var(--warna-gelap);
    transform: scale(1); 
    transition: all 400ms ease-in-out;
}

.nav a:hover{
    color: var(--warna-gelap-2);
    transform: scale(0.8);
}

.humburger{
    display: none;
    background: none;
    border:none;
    cursor: pointer;
    padding: 10px;
    z-index: 10000;
}

.humburger span{
    display: block;
    width: 28px;
    height: 3px;
    background: #000;
    margin: 6px;
    transition: 0.3s;                                                               /*batas antar komponen atas 12 rem (margin top) */
}

.Content{
    grid-area: contentt;
    overflow-y: auto;
}

.ca{
    margin: 8rem 0 8rem 0;

}

.h2c{
    margin-top: 5rem;
    padding-top: 4.5rem;
    text-align: center;
    letter-spacing: 0.4rem;
    font-size: 3.5rem;
    text-transform: uppercase;
    font-weight: 700;
    flex-wrap: nowrap;
    white-space: nowrap;
    color: var(--warna-gelap);
}

.pc{
    font-size: 1rem;
    text-align: center;
    margin: 0.3rem;
    color: var(--warna-gelap-2);
}

.desc{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30rem;
    margin-top: 11.5rem;
    flex-direction: row;
}

.p-cd{
    font-size: 1rem;
    text-align: right;
    margin: 0.3rem;
    padding-right: 2.5rem;
    color: var(--warna-gelap);
}

.h2-cd{
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-align: left;
    padding-left: 2.5rem;
    color: var(--warna-gelap);
}


.h2-prc{
    font-size: 2.5rem;
    margin: 5rem 0 2rem 0;
    text-align: center;
    letter-spacing: 0.1rem;
    border : 1px solid var(--warna-gelap);
    padding: 1rem;
    border-radius: 30px;
    font-weight: 750;
    color: var(--warna-gelap);
}

.h3-prc{
    font-size: 1.5rem;
    margin: 2rem 0 2rem 0;
    text-align: center;
    letter-spacing: 0.1rem;
}

.h3-gd{
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: 2px;
    color: var(--warna-gelap);
}

.p-gd{
    text-align: center;
    font-size: 1rem;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
    color: var(--warna-gelap);
}

.card-container{
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 3rem;
    flex-wrap: wrap;
    padding-bottom: 2rem;
    flex-direction: row;
    margin: 4rem 0 5rem 0;
}

.card{
    padding: 2rem;
    border-radius: 15px;
    width: 15rem;
    text-align: center;
    box-shadow: 0 10px 20px var(--warna-shadow);
    background-color: var(--warna-gelap);
    color: white;
    align-items: center;
    transition: all 400ms ease-in-out;
    perspective: 100px;
    transform: scale(1);
}

.card:hover,
.card:active{
    transform: scale(0.9);
    background-color: white;
    color: var(--warna-gelap);
    border: 1px solid var(--warna-cerah);
}

.span-gdp{
    font-size: 2rem;
    margin-bottom: 1rem;
}

.h3-gdp{
    font-size: 0.5rem;
}

.h4-card{
    font-size: 1rem;
    margin: 0.5rem 0 3rem 0;
}

.btn-pesan{
    margin: 3rem 0 4rem 0;
    padding: 0.7rem 3rem;
    border: none;
    border-radius: 50px;
    background-color: white;
    color: var(--warna-gelap);
    font-size: 1rem;
    cursor: pointer;
    box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.384);

}

.btn-pesan:hover,
.btn-pesan:active{
    background-color: var(--warna-gelap);
    color: white;
    box-shadow: 4px 4px 20px var(--warna-shadow);
}

.centang{
    display: flex;
    text-align: left;
    flex-direction: column;
    gap: 0.5rem;
}

.p-ck{
    font-size: 0.9rem;
}

.ck{
    font-weight: 700;
    margin-right: 1rem;
    padding-left: 1rem;
    font-size: 0.8rem;
    text-align: center;
}

.p-ck-hidden{
    display: none;
}


.card-tt{
    border: 1px solid aqua;
    padding: 2rem;
    border-radius: 15px;   
    width: 15rem;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.449);
    background-color: white;
}

.Trust{
    margin: 0 auto;
}

.h2-tt{
    text-align: center;
    color: var(--warna-gelap);
    padding-bottom: 1rem;
    text-transform: uppercase;
    font-weight: 700;
}

.cards-t{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 1rem;
    place-items: center;
}

.card-t{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    width: 14rem;
    border-radius: 10px;
}

.img{
    width: 100%;
    height: 250px;
    object-fit: contain;
    object-position: center;
    background : cover;
    padding: 1rem;
    border-radius: 2rem;
    transform: scale(1);
    transition: all 400ms ease-out;
    perspective: 100px;
}

.img:hover,
.img:active{
    transform: scale(1.2);
}

.p-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 2rem;
    margin-top: 4rem;
}

.d-img-ctt img{
    width: 100%;
    height: 34rem;
    margin-left: 2rem;
    padding : 4rem ;
}

.d-p-ctt{
    margin-bottom: 2.5rem;
}

.d-h2-ctt{
    font-style: bold;
    font-size: 2rem;
    font-weight: 400;
    margin: 2rem;
    text-align: center;
    color : var(--warna-gelap);
}

.p-ctt{
    font-size: 0.8rem;
    font-weight: 400;
    padding-bottom: 2rem;
    padding-left: 2rem;
    text-align: left;
    color: var(--warna-gelap);
}

.c-d-t{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-left: 2rem;
}

.h-c-d-t{
    color : var(--warna-gelap);
    font-weight: 700;
    font-size: 0.7rem;
    border-bottom: 1px solid var(--warna-gelap);
    width: fit-content;
    margin-bottom: 0.8rem ;
    margin-top: 0.8rem;
}

.p-c-d-t{
    color: var(--warna-gelap);
    font-weight: 700;
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
}

.p-c-d-t a{
    text-decoration: none;
    color: var(--warna-gelap-2);
}

.Footer{
    grid-area: footer;
}   

.p-footer{
    color : white;
    background-color: black;
    font-size: 0.6rem;
    border-radius: 0.2rem;
    max-height: 2400px;
    text-align: center;
    place-items: center;
}

/* ==========================================        Animation        ==========================================*/
/* Element awalnya: transparan + posisi sedikit ke bawah */

@media (max-width: 1024px) {  /* ==========================================        MEDIA QUERY         ==========================================*/
    .h2c{
        font-size: 2rem;
    }
    .pc{
        font-size: 0.8rem;
    }

    .desc{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15rem;
        max-width: 100%;
        max-height: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .h2-cd{
        font-size: 2rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        text-align: left;
        padding-left: 2.5rem;
    }

    .p-cd{
        font-size: 1rem;
        text-align: right;
        padding-right: 2.5rem;
    }

    .edc{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
        max-width: 100%;
        max-height: 100%;
    }

    .img-edc{
        width: 3rem;
        height: auto;
        max-width: 100%;
        border-radius: 8px;
        gap: 5rem;
    }
}
@media (max-width: 768px){ 

    /* === DIV CONTENTT === */
 
    .h2c{
        font-size: 1.5rem;
    }
    .pc{
        font-size: 0.6rem;
    }

     .desc{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 5rem;
        max-width: 100%;
        max-height: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .h2-cd{
        font-size: 1rem;
        font-weight: 600;
        text-align: center;
        text-transform: uppercase;
        text-align: left;
        padding-left: 2.5rem;
    }

    .p-cd{
        font-size: 0.6rem;
        text-align: right;
        padding-right: 2.5rem;
    }
    .h2-prc{
        font-size: 2rem;
    }

    .h3-gd{
        font-size: 1.5rem;
    }
    .p-gd{
        font-size:0.9rem;
    }

    .p-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 4rem;
}

.d-img-ctt img{
    width: 100%;
    height: 22rem;
    margin-left: 2rem;
    padding : 2rem ;
}

.d-p-ctt{
    margin-bottom: 2.5rem;
}

.d-h2-ctt{
    font-style: bold;
    font-size: 1rem;
    font-weight: 400;
    margin: 2rem;
    text-align: center;
    color : var(--warna-gelap);
}

.p-ctt{
    font-size: 0.5rem;
    font-weight: 400;
    padding-bottom: 1rem;
    padding-left: 2rem;
    text-align: center;
    color: var(--warna-gelap);
}

.c-d-t{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    padding-left: 6rem;
}

.h-c-d-t{
    color : var(--warna-gelap);
    font-weight: 400;
    font-size: 0.5rem;
    border-bottom: 1px solid var(--warna-gelap);
    width: fit-content;
    margin-bottom: 0.5rem ;
    margin-top: 0.5rem;
}

.p-c-d-t{
    color: var(--warna-gelap);
    font-weight: 400;
    font-size: 0.5rem;
}

.p-c-d-t a{
    text-decoration: none;
    color: var(--warna-gelap-2);
}

}
@media (max-width: 480px)  { 
    .h1-text-header{
        font-size: 1rem;
        white-space: nowrap;

    }
     /* === DIV CONTENTT === */
    .h2c{
        font-size: 0.7rem;
        letter-spacing: 0.2rem;
    }
    .pc{
        font-size: 0.3rem;
    }

    .desc{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        max-width: 100%;
        max-height: 100%;
        flex-wrap: nowrap;
        flex-direction: row;
    }

    .h2-prc{
        font-size: 1.2rem;
    }

    .h3-gd{
        font-size: 1rem;
    }
    .p-gd{
        font-size: 0.6rem;
    }

    .gk{
        grid-template-columns: 1fr;
        max-width: 100%;
        padding: 0 15px;

    }

    .gc{
        margin: 0 auto;
        max-width: 380px;
    }

    .h2-tt{
        font-size: 1.5rem;
    }

    .p-contact{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1rem;
        margin-top: 4rem;
    }

    .d-img-ctt img{
        width: 100%;
        height: 15rem;
        margin: 0 auto;
    }

    .d-p-ctt{
        width: 100% !important;
        float: none !important;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .d-h2-ctt{
        font-style: bold;
        font-size: 1rem;
        font-weight: 400;
        margin: 2rem;
        color : var(--warna-gelap);
    }

    .p-ctt{
        font-size: 0.5rem;
        font-weight: 400;
        padding-bottom: 1rem;
        text-align: center;
        color: var(--warna-gelap);
    }

    .c-d-t{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 0.6rem;
        width: 100%;
        max-width: 600px;
        margin: 1rem auto;
        padding: 2rem;
    }

    .c-c{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 0.4rem;
        text-align: center;
        width: 100%;
    }

    .h-c-d-t{
        color : var(--warna-gelap);
        font-weight: 400;
        font-size: 0.5rem;
        border-bottom: 1px solid var(--warna-gelap);
        width: fit-content;
        margin-bottom: 0.5rem ;
        margin-top: 0.5rem;  
    }

    .p-c-d-t{
        color: var(--warna-gelap);
        font-weight: 400;
        font-size: 0.5rem;
    }

    .p-c-d-t a{
        text-decoration: none;
        color: var(--warna-gelap-2);
    }

}


